* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}
body {
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
    background-position: no-repeat center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
p, h1, h2, h3, li {
    font-size: 2rem;
    margin:0;
    color:#fff;
    text-shadow: 1px 1px 3px rgb(0, 0, 0), 1px 1px 15px rgba(0, 0, 0, 0.612);
}
h1 {
    font-size: 10rem;
}
h2 {
    font-size: 5rem;
}
ul {
    list-style: none;
    margin:0;
    padding:0;
}
li {
    display:flex;
    align-items: center;
    margin-bottom: 0em;
}
li img {
    margin-right: 0.5em;
}
.container{
    padding: 2vw;
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
#header {
    display:flex;
    justify-content: space-between;
}
#main {
    position: fixed;
    width:100vw;
    height:100vh;
    top:30vh;
    text-align: center;
}
#author {
    text-align: left;
}
#weather-temperature {
    display:flex;
    align-items: center;
}
.weather-temp{
    font-size: 4rem;
}
#weather-location {
    text-align: right;
    font-size: 1.8rem;
}
#welcome-box {
    display:flex;
    justify-content: center;
    align-items: center;
}
/* #nameInput {
    display: inline;
    margin:0.5em 0 0 1em;
    box-sizing: border-box;
    font-size: inherit;
    padding: 0.8em;
    border:none;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    box-shadow: 1px 1px 4px rgb(0, 0, 0);
} */
#nameInput {
    font-family: inherit;
    font-size: 5rem;
    margin-left: 0.5em;
    font-weight: bold;
    color:rgb(255, 255, 255);
    text-shadow: 1px 1px 3px rgb(0, 0, 0), 1px 1px 15px rgba(0, 0, 0, 0.612);
    background-color: rgba(255, 255, 255, 0);
    border:none;
    border-bottom: solid white 4px;
    box-shadow: 0px 1px 0px rgb(0, 0, 0);
    /* caret-color: red; */
}
#nameInput::placeholder {
    color:rgb(255, 255, 255);
}
#nameInput:active, #nameInput:focus {
    outline:none;
}

#inputBtn {
    visibility: hidden;
    cursor: pointer;
    cursor: pointer;
    color:#fff;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-size: 4rem;
    border:none;    
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
#inputBtn:hover {
    color:rgb(239, 239, 239);
}
#inputBtn:active {
    color:rgb(209, 209, 209);
}
.delete {
    cursor: pointer;
    margin: -1em 0 0 0;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border:none;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

/* #cryptoInput {
    display: inline;
    margin:0.8em 0 0 0;
    box-sizing: border-box;
    font-size: 2rem;
    padding: 0.5em 0;
    border:none;
    border-top-left-radius: 6px;
    border-radius: 6px;
    box-shadow: 1px 1px 2px rgb(0, 0, 0);
}
#cryptoInput select {height: 35px;}
#cryptoInput:active {outline: none;} */

select {
    /* styling */
    background-color: white;
    border: thin solid blue;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
    /* reset */
    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}
select.minimal {
    margin-top:0.8em;
    background-image:
      linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
}

select.minimal:focus {
    background-image:
        linear-gradient(45deg, green 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, green 50%),
        linear-gradient(to right, #ccc, #ccc);
    background-position:
        calc(100% - 15px) 1em,
        calc(100% - 20px) 1em,
        calc(100% - 2.5em) 0.5em;
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat;
    border-color: green;
    outline: 0;
}
select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}


#quoteTxt {
    width: 50vw;
    margin-top:2em;
    margin-left:auto;
    margin-right:auto;
    font-size: 2.5rem;
}
#quoteAuthor {
    margin-top:0.5em;
    font-size: 2rem;
}
.weather-img{
    -webkit-filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.596));
     filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.577)); 
}

@media (orientation: portrait) {
    #main {
        top:40vh;
    }
    #time {
        font-size:  18rem;
    }
    #welcome-message {
        font-size:  5rem;
    }
    #nameInput {
        font-size:  5rem;
    }
    .coin-text {
        font-size:  3rem;
    }
    #cryptoInput {
        font-size: 3rem;
    }
    #quoteTxt { 
        width: 90vw;
        font-size:  4rem;
    } 
    #quoteAuthor {
        font-size:  3rem;
    }
    p {
        font-size:  3rem;
    }
    #author {
        font-size: 3rem;
        text-align: left;
    }
    #weather-location {
        font-size: 3rem;
    }
}

