* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}
body {
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
    background-position: no-repeat center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
p, h1, h2, h3, li {
    font-size: 2rem;
    margin:0;
    color:#fff;
    text-shadow: 1px 1px 3px rgb(0, 0, 0), 1px 1px 15px rgba(0, 0, 0, 0.612);
}
h1 {
    font-size: 10rem;
}
h2 {
    font-size: 5rem;
}
ul {
    list-style: none;
    margin:0;
    margin-bottom:0.5em;
    padding:0;
}
li {
    display:flex;
    align-items: center;
    margin-bottom: 0em;
}
li img {
    margin-right: 0.5em;
}
.container{
    padding: 2vw;
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
#header {
    display:flex;
    justify-content: space-between;
}
#main {
    position: fixed;
    width:100vw;
    height:100vh;
    top:30vh;
    text-align: center;
}
#author {
    text-align: left;
}
#weather-temperature {
    display:flex;
    align-items: center;
}
.weather-temp{
    font-size: 4rem;
}
#weather-location {
    text-align: right;
    font-size: 1.8rem;
}
#welcome-box {
    display:flex;
    justify-content: center;
    align-items: center;
}
/* #nameInput {
    display: inline;
    margin:0.5em 0 0 1em;
    box-sizing: border-box;
    font-size: inherit;
    padding: 0.8em;
    border:none;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    box-shadow: 1px 1px 4px rgb(0, 0, 0);
} */
#nameInput {
    font-family: inherit;
    font-size: 5rem;
    margin-left: 0.5em;
    font-weight: bold;
    color:rgb(255, 255, 255);
    text-shadow: 1px 1px 3px rgb(0, 0, 0), 1px 1px 15px rgba(0, 0, 0, 0.612);
    background-color: rgba(255, 255, 255, 0);
    border:none;
    border-bottom: solid white 4px;
    box-shadow: 0px 1px 0px rgb(0, 0, 0);
}
#nameInput::placeholder {
    color:rgb(255, 255, 255);
}
#nameInput:active, #nameInput:focus {
    outline:none;
}

#inputBtn {
    cursor: pointer;
    color:#fff;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-size: 4rem;
    border:none;    
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
#inputBtn:hover {
    color:rgb(239, 239, 239);
}
#inputBtn:active {
    color:rgb(209, 209, 209);
}
.delete {
    font-size: 0.8rem;
    padding: 0em 0.5em;
    line-height: 1.6;
    color: #000;
    background: #fff;
    cursor: pointer;
    margin: -1em 0 0 0.5em;
    border:none;
    border-radius: 50%;
    box-shadow: 1px 1px 1px rgb(0, 0, 0);
}

#cryptoInput {
    display:none;
    box-sizing: border-box;
    font-size: 2rem;
    padding: 0.5em 1em;
    border:none;
    border-top-left-radius: 6px;
    border-radius: 6px;
    box-shadow: 1px 1px 2px rgb(0, 0, 0);
}
#cryptoInput select {height: 35px;}
#cryptoInput:active {outline: none;}

#cryptoPlus{
    display: inline;
    font-size: 2rem;
    padding: 0.02em 0.4em;
    /* padding: 0.3em 0.7em; */
    line-height: 1.6;
    color: #000;
    background: #fff;
    cursor: pointer;
    border:none;
    border-radius: 20%;
    box-shadow: 1px 1px 1px rgb(0, 0, 0);
}

#quoteTxt {
    width: 50vw;
    margin-top:2em;
    margin-left:auto;
    margin-right:auto;
    font-size: 2.5rem;
}
#quoteAuthor {
    margin-top:0.5em;
    font-size: 2rem;
}
.weather-img{
    -webkit-filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.596));
     filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.577)); 
}

@media (orientation: portrait) {
    #main {
        top:40vh;
    }
    #time {
        font-size:  18rem;
    }
    #welcome-message {
        font-size:  5rem;
    }
    #nameInput {
        font-size:  5rem;
    }
    .coin-text {
        font-size:  3rem;
    }
    #cryptoInput {
        font-size: 3rem;
    }
    #quoteTxt { 
        width: 90vw;
        font-size:  4rem;
    } 
    #quoteAuthor {
        font-size:  3rem;
    }
    p {
        font-size:  3rem;
    }
    #author {
        font-size: 2rem;
        text-align: left;
    }
    #weather-location {
        font-size: 3rem;
    }
    .delete {
        font-size: 1.5rem;
        padding: 0em 0.5em;
    }
}

